@using Domain.Entities
@model Cart
@{
    ViewBag.Title = "_IndexOrdersPartial";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "cart-index-table",
        OnComplete = "itWorks()"
    };
}
<style type="text/css">
    .img-cart-mini img { max-width: 100%; }
</style>

@if (Model.Orders.Count != 0)
{
    foreach (Order order in Model.Orders)
    {
        <div class="row" style="border: 1px dotted #505050; padding: 10px 0">
            <div class="col-md-4 img-cart-mini">
                <img src="~/images/@order.Product.Category.PathPart/@order.Product.ID/main-catalog-mini.jpg"/>
            </div>
            <div class="col-md-3">
                <h4>@order.Product.Name</h4>
                <p>@order.Product.About</p>
            </div>
            <div class="col-md-1">@order.Quantity</div>
            <div class="col-md-2">@order.TotalCost</div>
            <div class="col-md-2">
                @using (Ajax.BeginForm("Remove", "Cart", new {pageType = "cartIndex"}, ajaxOptions, new {@class = "myForm"}))
                {
                    <input type="hidden" name="id" value="@order.Product.ID"/>
                    <input type="number" name="q" value="1" min="1" max="@order.Quantity"/>
                    <button type="submit">Удалить</button>
                }
            </div>
        </div>
        <br/>
    }
}
else
{
        <div class="text-center" style="border: 1px dotted #505050;">
            <h3>Корзина пуста</h3>
            <p>Перейти к @Html.ActionLink("каталогу", "Index", "Catalog")</p>
        </div>
}